<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ball_shooter_sim)/urdf/ball_shooter.xacro'" />
    <arg name="robot_name" default="ball_shooter" />
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0."/>
    <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

    <node name="ball_shooter_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>
